<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    
    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>

    <script type="text/javascript" src="{{url_for('static', filename='p5.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='app.js')}}"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    
    <style>
        * {
            font-family: "Verdana", "sans-serif";
            background-color: #282828;
            color: aliceblue;
        }
    
        h1 {
            text-align: center;
        }

    </style>
    
    </head>

    <body>   
    <div>
        <h1>Draw with Friends</h1><br>
    </div>
    </body>

</html>
